<div id="<%= dom_id publisher %>">
  <p>
    <strong>Name:</strong>
    <%= publisher.name %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= publisher.key %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= publisher.status %>
  </p>

</div>
<table class="table-auto">
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= publisher.name %></td>
      <td><%= publisher.key %></td>
      <td><%= publisher.status %></td>
    </tr>
  </tbody>
</table>